<a href="https://colab.research.google.com/github/6306022610113/INEPython/blob/master/1_100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
num = int(input('Enter end volue : '))
col = int(input('Enter number of column : '))
pr = 1
while pr <= num:
  for i in range(col):
     if pr <= num :
      print('\t', pr,' ', end='')
      pr  +=  1
  print()

Enter end volue : 100
Enter number of column : 10
	 1  	 2  	 3  	 4  	 5  	 6  	 7  	 8  	 9  	 10
	 11  	 12  	 13  	 14  	 15  	 16  	 17  	 18  	 19  	 20
	 21  	 22  	 23  	 24  	 25  	 26  	 27  	 28  	 29  	 30
	 31  	 32  	 33  	 34  	 35  	 36  	 37  	 38  	 39  	 40
	 41  	 42  	 43  	 44  	 45  	 46  	 47  	 48  	 49  	 50
	 51  	 52  	 53  	 54  	 55  	 56  	 57  	 58  	 59  	 60
	 61  	 62  	 63  	 64  	 65  	 66  	 67  	 68  	 69  	 70
	 71  	 72  	 73  	 74  	 75  	 76  	 77  	 78  	 79  	 80
	 81  	 82  	 83  	 84  	 85  	 86  	 87  	 88  	 89  	 90
	 91  	 92  	 93  	 94  	 95  	 96  	 97  	 98  	 99  	 100